
header {
	text-align: center;
}
strong{
	color: #CC1010;
}
#name{
	color: #CC1010;
	display: inline-block;
	width: 100%;
}

body {
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

img {
	width: 50%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a:hover {
	text-decoration: none;
}

#main_wrapper {
	width: 100%;
}
#bio_container {
	text-align: center;
}

#bio_container img {
	border-radius: 50%;
	box-shadow: 0 0 .3em 0;
	margin: 1em 0;
}

#bio_container p {
	text-align: justify;
}

.wrap {
	text-align: center;
	margin: 2em 0;
	padding: 1em 0;
}
.wrap span {
	text-align: justify;
}

.wrap img {
	width: 6.25em;
	display: block;
	margin: 0 auto;
}

#contacts {
	margin-bottom: 0.5em;
}

.back_container {
	box-shadow: 0 0 0.3em 0;
}

/*BEGIN NAVIGATION CSS*/
ul li a {
	color: black;
}

ul li a:visited {
	color: black;
}

.dropdown-item:active {
	background-color: #CC1010;
	color: white;
}

/*END NAVIGATION CSS*/

@media screen and (min-width: 379px){
	img {
		max-width: 12em;
	}
	#bio_container p{
		font-size: 1.2em;
	}

}

@media screen and (min-width: 427px){
	#bio_container p {
		font-size: 1.3em;
	}
}

@media screen and (min-width: 500px){
	#bio_container p {
		width: 500px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 792px){
	#bio_container {
		display: flex;
		justify-content: space-around;
		
	}

	#bio_container img {
		display: block;
		width: 100%;
		margin: auto;
	}
	#bio_container p {
		flex: 1, 1, auto;
		margin: auto;
	}
}
